<div class="timber-container">
  <h2>Edit your <%= @house.name %></h2>
  <%= render partial: "shared/form", locals: {house: @house} %>
  <div class= "links">
    <p><%= link_to "Profile", user_path %></p>
    <p><%= link_to "Home", "pages#home" %></p>
    <p><%= link_to "See all our available Treehouses", houses_path %></p>
  </div> 
</div>
