<div class="container">
  <%= render "shared/filter_form", path: houses_path %>
</div>
<div class="container grid">
  <% @houses.each do |house| %>
    <div class="card mt-3">
      <h3 class= "card-title text-center">
      <%= link_to house.name.capitalize, house_path(house) %></h3>
      <div>
      <% if house.photos.attached? %>
      <%= cl_image_tag house.photos[0].key, class: "card-img-top mb-3", crop: :fill %>
      <% else %>
      NO PHOTO
      <% end %>
        <!-- <img class= "" src= "http://res.cloudinary.com/dynjb5ftd/image/upload/v1589976577/treehouses/treehouse_5_fyugpx.jpg" alt = "treehouse"> -->
        <div class ="card-body">
          <p class="card-text"> <%= house.location %></p>
          <div class="price-avatar d-flex justify-content-center align-items-center">
            <span>£<%= house.price %></span>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

