<div class=“container”>
  <div class= "details">
  	<h1><strong><%= @house.name %></strong></h1>
    <p>price: <%= @house.price %></p>
    <p>Location: <%= @house.location %></p>
    <p>Description: <%= @house.description %></p>
  </div>
  <p><%= link_to "Go back", houses_path %>
  <p><%= link_to 'Edit treehouse', edit_house_path(@house) %></p>
  <p><%= link_to 'Book treehouse', new_house_booking_path(@house)%></p>
</div>
