<div class="container">
  <div class="row d-flex flex-column align-items-center">
    <div class="col-8">
      <div class="card p-3">
        <%= link_to house_path(@house) do %>
          <div class="d-flex justify-content-end">
            <button type=“button” class=“close” aria-label=“Close”>
              <span aria-hidden=“true”>&times;</span>
            </button>
          </div>
        <% end %>
        <h1 class="text-center">Book this treehouse</h1>
      <% if @house.photos.attached? %>
        <%= cl_image_tag @house.photos[0].key, class: "card-img-top mb-3", crop: :fill %>
      <% else %>
        <img class= "card-img-top mb-3" src= "https://i.pinimg.com/564x/4a/ea/b8/4aeab8d0c621d6413f4438a1c8bbf37f.jpg" alt = "treehouse">
      <% end %>
        <%= simple_form_for [ @house, @booking ] do |f| %>
          <%= f.input :checkin, html5: true, label: 'Check-in', input_html: { id: "range_start" } %>
          <%= f.input :checkout, html5: true, label: 'Check-out', input_html: { id: "range_end" } %>
          <%= f.input :guests, label: 'How many guests will be staying?' %>
          <%= f.submit "Book this treehouse!", class: "btn btn-lg btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

