<section style="margin-top: 60px;">
  <div class="container">
    <div class="row justify-content-center" id="div1">
      <h1>Hello, <%= @user.email %></h1>
      <br>
      <br>
    </div>

    <div class="row justify-content-center" id="div2">
      <% if @user.bookings %>
        <h2>Upcoming Trips...</h2>
        <div class="container grid" id="div1">
          <% @user.bookings.each do |booking| %>
          <div class="card mt-3">
          <h3 class= "card-title text-center">
            <%= link_to booking.house.name, house_bookings_path(booking.house, booking) %></h3>
            <div>
              <img class= "card-img-top mb-3" src= "http://res.cloudinary.com/dynjb5ftd/image/upload/v1589976577/treehouses/treehouse_5_fyugpx.jpg" alt = "treehouse">
              <div class ="card-body">
                <p class="card-text"> <%= booking.house.location %></p>
                <p class="card-text"> Checkin: <%= booking.checkin %></p>
                <p class="card-text">Checkout: <%= booking.checkout %></p>

                <div class="price-avatar d-flex justify-content-center align-items-center">
                  <span>£<%= booking.house.price %></span>
                </div>
              </div>
            </div>
          </div>
          <% end %>
        </div>
      </div>
      <% else %>
      <h2>No bookings</h2>
    <% end %>

      <div class="row justify-content-center" id="div2">
      <% if @user.houses %>
      <h2>My Treehouses...</h2>


      <div class="container grid">
        <% @user.houses.each do |house| %>
        <div class="card mt-3">
          <h3 class= "card-title text-center">
            <%= link_to house.name, house_path(house) %></h3>
            <div>
              <img class= "card-img-top mb-3" src= "http://res.cloudinary.com/dynjb5ftd/image/upload/v1589976577/treehouses/treehouse_5_fyugpx.jpg" alt = "treehouse">
              <div class ="card-body">
                <p class="card-text"> <%= house.location %></p>
                <div class="price-avatar d-flex justify-content-center align-items-center">
                  <span>£<%= house.price %></span>

                  </div>
                </div>
              </div>
            </div>
            <% end %>
          </div>
        </div>
        <% else %>
        <h2>No houses yet</h2>
        <% end %>
      </div>
      </div>
    <div class="row justify-content-center">
      <%= link_to "Make a new house", new_house_path, class: 'btn timber-btn' %>
    </div>
  </div>
</section>
