<h1>Hello, <%= @user.email %></h1>
<h2>Upcoming trips</h2>

<% @user.bookings.each do |booking| %>
  <%= link_to booking.house.name, house_bookings_path(booking.house, booking) %>
  <%= booking.checkin %>
  <%= booking.checkout %>
  <%= link_to booking_path(booking) do %>
    <i class="fas fa-trash-alt"></i>
  <% end %>
<% end %>

<% @user.houses.each do |house| %>
  <%= link_to house.name, house_path(house) %>
<% end %>

<%= link_to "Make a new house", new_house_path %>
