<div class="w-100 py-3">
  <div class=" container d-flex justify-content-between align-items-center">
    <div class="">
      <%= link_to root_path, :class => 'navbar-brand' do %>
        <%= image_tag "old-logo.png", alt: "alttext", width: 30, height: 40 %>
      <% end %>
    </div>
    <div class = "status-features d-flex">
      <% if user_signed_in? %>
        <div class="d-flex align-items-center">
          <%= link_to "Sign out", destroy_user_session_path, :method => :delete, class: 'btn btn-link mr-3'  %>
          <%= link_to 'My Account', user_path(current_user), class: 'btn btn-secondary mr-3'%>
          <% if current_user.photo.attached? %>
            <%= cl_image_tag(current_user.photo.key, class: "avatar-bordered") %>
          <% end %>
        </div>
      <% else %>
        <div class="login-form">
          <!-- Button to trigger login modal -->
          <button type="button" class="btn btn-link mt-3" data-toggle="modal" data-target="#loginModal">Login
          </button>
           <!-- Login Modal -->
          <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header text-center">
                  <h3 class="modal-title text-center w-100 font-weight-bold" id="exampleModalLabel">Login</h3>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
              <div class="modal-body mx-3">
                <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                  <div class="form-inputs mb-5">
                    <%= f.input :email,
                                required: false,
                                autofocus: true,
                                input_html: { autocomplete: "email" } %>
                    <%= f.input :password,
                                required: false,
                                input_html: { autocomplete: "current-password" } %>
                    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
                  </div>
                  <div class = "modal-footer d-flex justify-content-center">
                    <div class="form-actions">
                      <%= f.button :submit, "Log in", class:"timber-btn" %>
                 <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="sign-up-form">
          <!-- Button to trigger sign-up modal -->
          <button type="button" class="btn timber-btn" data-toggle="modal" data-target="#signUpModal">Sign Up
          </button>
          <!-- Sign Up Modal -->
          <div class="modal fade" id="signUpModal" tabindex="-1" role="dialog" aria-labelledby="signUpModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header text-center">
                  <h3 class="modal-title text-center w-100 font-weight-bold" id="signUpModalLabel">New User Registration</h3>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body mx-3">
                  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                    <%= f.error_notification %>

                    <div class="form-inputs mb-5">
                      <%= f.input :email,
                                  required: true,
                                  autofocus: true,
                                  input_html: { autocomplete: "email" }%>
                      <%= f.input :password,
                                  required: true,
                                  hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                                  input_html: { autocomplete: "new-password" } %>
                      <%= f.input :password_confirmation,
                                  required: true,
                                  input_html: { autocomplete: "new-password" } %>
                      <%= f.input :photo, as: :file %>
                    </div>
                  <div class = "modal-footer d-flex justify-content-center">
                    <div class="form-actions">
                      <%= f.button :submit, "Sign up", class:"timber-btn" %>
                   <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>


