
<nav class="navbar navbar-light bg-secondary">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </button>
      <%= image_tag "Logo.png", alt: "alttext", width: 30, height: 40 %>

      <%= link_to 'Timber', root_path, :class => 'navbar-brand' %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <%= cl_image_tag("timber/Signed_in_user_avatar_1_c0bxzl.jpg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false) %>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
        <% if current_user %>
          <%= link_to 'My Account', user_path(current_user), class: "dropdown-item" %>
          <%= link_to "Sign out", destroy_user_session_path, :method => :delete, class: "dropdown-item" %>
        <% else %>
          <%= link_to 'Sign in', new_user_session_path, class: "dropdown-item" %>
         <%= link_to 'Sign up', new_user_registration_path, class: "dropdown-item" %>
        <% end %>

        </div>
      </li>
    </ul>
  </div>
</div>
