<div class = "timber-container">
  <div class = "banner">
    <h1 class = "text-center">Stay somewhere extraordinary....</h1>
  </div>
    <div class="row justify-content-center">
      <%= render "shared/filter_form", path: root_path %>
    </div>
  <div class= "tree-houses-display cards">
    <% @houses_sample.each do |house| %>
      <div class="house-card">
        <p><%= link_to house.name, house_path(house) %></p>
        <span class= "house-img"><%=cl_image_tag("treehouses/treehouse_5_fyugpx.jpg") %></span>
        <p><%= house.price %></p>
        <p><%= house.description %></p>
      </div>
    <% end %>
  </div>
  <%= link_to "Browse our treehouses", houses_path %>
</div>

